.header {
    /* padding: 10px; */
    background:red;  
    color: white;
    /* margin: 0px 0px 0px 158px; */
    width: 15%;
    height: 50%;
    font-size: 13px;
    float: left;
    margin-left: 12.35%;
}

body    {
    margin: 10px 50px 50px 40px;
    background-image: url("../images/dark-honeycomb.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background: #ffffff;
    float: right;
    width: auto;
    height: 25%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
#box {
    background: #ffffff;
    width: 960px;
    margin:0 auto;
    float: none;
    clear: both;
    box-sizing: border-box;
    padding: 20px 25px;

}
.footer-banner {
    background: cadetblue;
    position: fixed;
    left: 0;
    height: 1%;
    width: 100%;
    margin-top: 17.8%;
}

.footer{
    background: dimgray;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 11%;
    width: 100%;
    color: white;
    text-align: center;
}

img {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}







