body{
    margin: 10px 50px 50px 40px;
    background-image: url("../images/dark-honeycomb.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    padding: 10px;
    background:cadetblue;  
    color: white;
    margin: 0px 0px 0px 40px;
    width: 40%;
    height: 50%;
    font-size: 13px;
    float: left;
}

.footer{
    background: dimgray;
    padding: 10px;
}

 ul#nav { 
    text-align: right;
    align-self: auto;
    list-style-type: none;
} 

#container {
    background: #ffffff;
    
}

#box {
    background: #ffffff;
    width: 960px;
    margin:0 auto;
    float: none;
    clear: both;

}
